<div class="float-right" style="padding-right : 30px; padding-top: 20;">
    <a [routerLink]="['/photo',11]" class="btn btn-success">Upload</a>
</div><br>

Photos in this Album

<div class="row">
    <div class="col-sm-3 pt-3" *ngFor="let photo of photos">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" [src]="photo.photoURL" alt="Album Cover" width="100" height="200">
            <div class="card-body">
                <h5 class="card-title">Created By: {{photo.createdBy}}</h5>
                <h6 class="card-title">Date: {{photo.dateCreated}}</h6>
                <a [routerLink]="['/photo',photo.id]" class="btn btn-primary">Go To Photo</a>
            </div>
        </div>
    </div>
</div>