

<div class="card text-center" *ngIf="user">
  <div *ngFor="let usr of user">
    <div class="card-header" >
      Name: {{usr.name}}
    </div>
    <div class="card-body">
      <h5 class="card-title">Email: {{usr.email}}</h5>
      <img [src]="usr.profilePicURL" width="200" height="200" class="rounded-circle"/>
  </div>
</div>

<!--
<h1>{{title}}</h1>
<img [src]="imageURL" width="20%" height="300">
<br>
<button (click)="incrementCount()">Click Me</button>
<p>counter: {{viewCount}}</p>
<div>
    <input type="text" [(ngModel)] = "name">
    <p>Hello {{name}}</p>
</div>
-->